@{
    ViewBag.Title = "Поиск";
}

<div>
    <a asp-action="Scan">Перейти к сканированию</a>
</div>

<div>
    <div>
        Домен:
        <input id="domainInput" type="text" required/>
    </div>
    <div>
        <button class="submit" onclick="search()">Поиск</button>
    </div>
</div>

<div>
    <table id="searchResultsTable" class="sortable">
        <thead>
            <tr>
                <th>URL</th>
                <th>Страница</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
    $('#queryInput').keydown(function (e) {
        if (e.keyCode === 13) {
            search();
        }
    });
    
    function search() {
        $(document).ready(function () {
            let domainUrl = document.getElementById("domainInput").value;

            fetch('/Search/Search?url=' + domainUrl).then(function (response) {
                response.json().then(function (pages) {
                    let tableBody = document.getElementById('searchResultsTable').getElementsByTagName('tbody')[0];
                    for (let i = 0; i < pages.length; ++i) {
                        addRow(tableBody, [pages[i].url, pages[i].text]);
                    }
                });
            });
        });
    }
    
    function addRow(table, cells) {
        let row = document.createElement("tr");
        table.appendChild(row);
        
        for (let i = 0; i < cells.length; ++i) {
            let cell = document.createElement("td");
            row.appendChild(cell);
            cell.innerText = cells[i];
        }
    }
</script>